body {
    background-color: #f0faf1;
}

.text {
    padding: 35px;
}

.text>a {
    color: black;
}

.containers {
    height: 650px;
    background-color: #f0faf1;
}

.aside__box {
    margin: 0px;
    height: 47.5%;
}

.section__box {
    height: 95%;
}

.section__img {
    width: 100%;
    height: 96%;
}